body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  background: url(https://i.ytimg.com/vi/hUi9C9791fM/maxresdefault.jpg) top right no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.music {
    font-family: 'Yesteryear', cursive;
    font-size: 17rem;
    color: white;
    text-align: center;
    margin-top: 150px;
}

#song-list {
  list-style-type: none;
}
.inline {
  display: inline-block;
}
li:hover {
  background-color: #ccc;
  padding: 20px;
  transition: all .85s;
}
li {
    opacity: 0.88;
    border-radius: 10px;
}
input {
  margin: auto;
  margin-top: 50px;
  
}

.btn.btn-primary {
  margin-top: 10px;
  padding: 10px 100px;
}
